// --------------------------
// VARIABLES
// --------------------------
$maincolor: rgb(164, 59, 245);
$contrastcolor: rgb(255, 196, 4);

@mixin gold-text-blue-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// --------------------------
// Header
// --------------------------

.nav {
  @include gold-text-blue-bg;
  display: flex;
  justify-content: center;

  a {
    @include gold-text-blue-bg;
    text-decoration: none;
    div {
      margin: 10px;
      font-size: large;
    }
  }
}

// --------------------------
// Form
// --------------------------

.person-section,
div {
  form {
    input {
      @include gold-text-blue-bg;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;

      &[type="submit"]:hover {
        @include black-test-white-bg;
      }
    }
  }
}

// --------------------------
// button
// --------------------------

button#delete {
  @include gold-text-blue-bg;
  display: block;
  margin: auto;
  font-size: 1.3em;
  padding: 10px;
}